<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acaros de Araña en Tomate - AgroScan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/AgroScan_icon.png') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/26112bca0b.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="div_left">
    <div class="contenido">
      <img src="{{ url_for('static', filename='images/miner.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
        <p>
            Son una plaga común que se alimenta de la savia de las plantas de tomate. Estos ácaros son muy pequeños 
            y difíciles de ver a simple vista. Suelen aparecer en climas cálidos y secos, proliferando en 
            condiciones de baja humedad y altas temperaturas.
        </p>
      <br>

      <div><a href="/store">Ir a la Tienda</a></div>
    </div>
  </div>

  <div class="div_right">
    <div class="contenido">

      <img src="{{ url_for('static', filename='images/sintomas.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Decoloración de las hojas: Las hojas de los tomates infestados por 
        ácaros araña pueden volverse amarillas, moteadas o decoloradas debido a la 
        alimentación de los ácaros.
        Telarañas finas: Los ácaros araña pueden producir finas telarañas en las hojas y entre 
        los brotes. Estas telarañas pueden ser difíciles de detectar al principio, pero son 
        indicativas de una infestación avanzada.
        Puntos blancos o amarillos en el envés de las hojas: Pueden aparecer manchas blancas o 
        amarillas en el envés de las hojas debido a la presencia de ácaros araña y sus huevos.
        Deformación y enrollamiento de las hojas: Las hojas afectadas pueden deformarse, 
        enrollarse hacia arriba o hacia abajo, y eventualmente secarse y caer de la planta.
        </p>
      <br>
      <img src="{{ url_for('static', filename='images/tratamiento.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Riego regular: Mantén las plantas de tomate bien hidratadas para 
        reducir el estrés y mejorar su resistencia a los ácaros araña. Asegúrate de regar el 
        suelo alrededor de las plantas, evitando mojar las hojas tanto como sea posible.
        Aumenta la humedad: Los ácaros araña prosperan en condiciones de baja humedad. Puedes 
        aumentar la humedad ambiental rociando agua sobre las plantas o colocando recipientes 
        con agua cerca de ellas.
        Control biológico: Introduce depredadores naturales de ácaros araña, como ácaros 
        depredadores (por ejemplo, Phytoseiulus persimilis) o mariquitas, para ayudar a 
        controlar la población de ácaros en tus plantas de tomate.
        Uso de aceites hortícolas: Los aceites hortícolas, como el aceite de neem, pueden ser 
        efectivos para controlar los ácaros araña en los tomates. Estos aceites sofocan los 
        ácaros y sus huevos, reduciendo así su población.
        Aplicación de insecticidas: En casos severos, puedes considerar el uso de insecticidas 
        específicos para ácaros araña. Asegúrate de seguir las instrucciones de aplicación y 
        seguridad del producto, y evita su uso excesivo para minimizar el impacto ambiental.
        Eliminación de plantas infestadas: Retira y desecha adecuadamente las plantas de tomate 
        gravemente infestadas para prevenir la propagación de los ácaros a otras plantas.
        </p>
      <br>

    </div>
  </div>


</body>

</html>