<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rincosporiosis en Arroz - AgroScan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/AgroScan_icon.png') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/26112bca0b.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="div_left">
    <div class="contenido">
      <img src="{{ url_for('static', filename='images/Rincosporiosis en Arroz.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
        <p>
            Es una enfermedad bacteriana que afecta al arroz y puede causar daños significativos en los cultivos, 
            especialmente en condiciones de alta humedad y temperaturas moderadas. Es causada por la bacteria 
            Xanthomonas oryzae pv. oryzicola.
        </p>
      <br>

      <div><a href="/store">Ir a la Tienda</a></div>
    </div>
  </div>

  <div class="div_right">
    <div class="contenido">

      <img src="{{ url_for('static', filename='images/sintomas.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Manchas foliares: Aparecen manchas de forma irregular en las hojas de arroz, que 
        inicialmente son de color verde claro o amarillento y luego se tornan marrón oscuro o negro.
        Bordes definidos: Las manchas tienen bordes definidos y a menudo están rodeadas por un área 
        clorótica (amarilla).
        Lesiones alargadas en las hojas: Las lesiones pueden ser alargadas y estar distribuidas a lo largo 
        de las venas de las hojas.    
        </p>

      <br>
      <img src="{{ url_for('static', filename='images/tratamiento.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Uso de variedades resistentes: Utiliza variedades de arroz que sean resistentes 
        a la leaf scald cuando sea posible. Consulta con un experto en agricultura para obtener 
        recomendaciones sobre variedades resistentes disponibles en tu área.
        Rotación de cultivos: Practica la rotación de cultivos para reducir la acumulación de bacterias 
        en el suelo. Evita plantar arroz en los mismos campos año tras año y rota con cultivos que no 
        sean susceptibles a la leaf scald.
        Control de malezas: Mantén una buena gestión de malezas para reducir la competencia de las 
        malezas y mejorar la circulación de aire alrededor de las plantas de arroz, lo que puede ayudar 
        a reducir la incidencia de la enfermedad.                       
        </p>
      <br>

    </div>
  </div>


</body>

</html>