<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/AgroScan_icon.png') }}" type="image/x-icon">
  <title>AgroScan</title>
</head>

<body>
  {% include 'free/header_free.html' %}

  <div class="banner">
    <div class="banner-content">
      <h2>¡Cuida tus cultivos, cuida tu cosecha!</h2>
      <p>"En AgroScan, creemos en el poder de la tecnología agrícola para transformar la agricultura. Cada decisión en
        el manejo de tus cultivos es una oportunidad para optimizar tus resultados y alcanzar tus objetivos. Únete a
        nosotros en este viaje hacia una agricultura más eficiente y sostenible. ¡Empieza hoy mismo y haz que cada
        cosecha cuente!"</p>
    </div>

    <div class="banner-image">
      <img src="{{ url_for('static', filename='images/camp.jpg') }}" alt="Imagen del banner">
    </div>
  </div>

  <div class="sections">
    <div class="tarjeta1">
      <h3>Curiosidad sobre el Café</h3>
      <ul>
        <li><strong>Origen del Café:</strong> El café se originó en Etiopía, África. Un pastor llamado Kaldi notó que
          sus cabras se volvían más animadas después de masticar los frutos
          rojos de cierta planta. Compartió este descubrimiento con los monjes de un monasterio cercano, quienes
          comenzaron a usar los frutos para preparar una bebida estimulante.</li>
      </ul>
    </div>

    <div class="tarjeta2">
      <h3>Curiosidad sobre el Maíz</h3>
      <ul>
        <li><strong>Origen del Maíz:</strong> El maíz,es una planta que se originó en
          América hace miles de años. Los antiguos pueblos indígenas de Américacultivaron y
          domesticaron el maíz a partir de una planta silvestre llamada teosinte. Hoy en día, el maíz es uno de los
          cultivos más importantes del mundo.
        </li>
      </ul>
    </div>

    <div class="tarjeta3">
      <h3>Curiosidad sobre el Arroz</h3>
      <ul>
        <li><strong>Variedades de Arroz:</strong> ¿Sabías que hay miles de variedades diferentes de arroz en el mundo?
          Desde el arroz basmati aromático de la India hasta el arroz de sushi japonés y el arroz jazmín tailandés, cada
          variedad tiene su propio sabor, textura y aroma únicos. El arroz es un alimento básico en muchas culturas y se
          cultiva en una amplia gama de climas y condiciones..</li>
      </ul>
    </div>

    <div class="tarjeta">
      <h3>Curiosidad sobre el Tomate</h3>
      <ul>
        <li><strong>Origen del Tomate:</strong> Aunque el tomate es un ingrediente básico en muchas cocinas de todo el
          mundo, ¿sabías que en Europa no se consumía hasta hace relativamente poco tiempo? El tomate es originario de
          América del Sur y fue llevado a Europa después de la llegada de los exploradores españoles en el siglo XVI. Al
          principio, se consideraba una planta ornamental y se creía que sus frutos eran venenosos. Sin embargo,se
          convirtió en un alimento popular en el mundo.</li>
      </ul>
    </div>



  </div>




  {% include 'free/footer_free.html' %}
</body>

</html>