<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto Objetivo en Tomate - AgroScan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/AgroScan_icon.png') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/26112bca0b.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="div_left">
    <div class="contenido">
      <img src="{{ url_for('static', filename='images/miner.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
        <p> 
            También conocido como "anthracnose bacteriana" o "mancha foliar bacteriana", es una enfermedad causada 
            por la bacteria Xanthomonas campestris pv. vesicatoria. Esta enfermedad es particularmente común en 
            regiones cálidas y húmedas y puede provocar daños significativos en los cultivos de tomate si no se 
            controla adecuadamente.
        </p>
      <br>

      <div><a href="/store">Ir a la Tienda</a></div>
    </div>
  </div>

  <div class="div_right">
    <div class="contenido">

      <img src="{{ url_for('static', filename='images/sintomas.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Manchas de color marrón oscuro en las hojas: Las hojas de las plantas 
        afectadas desarrollan manchas de forma irregular con un centro oscuro y bordes más 
        claros. Estas manchas pueden tener un aspecto acuoso en su etapa temprana.
        Lesiones en los frutos: Los frutos también pueden desarrollar manchas de color marrón 
        oscuro o negro, que pueden volverse hundidas y presentar un aspecto rugoso o áspero.
        Expansión de las lesiones: Con el tiempo, las lesiones en las hojas y los frutos 
        tienden a expandirse y fusionarse, lo que puede provocar la necrosis de grandes áreas 
        de tejido vegetal.
        Caída prematura de hojas y frutos: Las hojas y los frutos afectados pueden caer 
        prematuramente de la planta, lo que reduce la capacidad de la planta para 
        fotosintetizar y producir frutos.
        </p>
      <br>
      <img src="{{ url_for('static', filename='images/tratamiento.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Prácticas de cultivo adecuadas: Mantén un adecuado espacio entre 
        plantas para promover la circulación de aire y reducir la humedad. Evita el riego 
        por aspersión y riega directamente sobre el suelo para evitar mojar las hojas.
        Rotación de cultivos: Evita plantar tomates en el mismo lugar año tras año. La 
        rotación de cultivos puede ayudar a reducir la persistencia de la bacteria en el 
        suelo.
        Eliminación de restos de plantas infectadas: Retira y desecha adecuadamente las 
        plantas infectadas y los restos de cosechas anteriores para reducir la propagación 
        de la enfermedad.
        Aplicación de fungicidas o bactericidas: En casos severos, se pueden aplicar 
        fungicidas o bactericidas específicos para controlar la enfermedad. Es importante 
        seguir las recomendaciones de dosificación y frecuencia de aplicación proporcionadas 
        por el fabricante.
        Selección de variedades resistentes: Algunas variedades de tomate son más resistentes 
        a la enfermedad del punto objetivo que otras. Consulta con un vivero o centro de 
        jardinería local para obtener recomendaciones sobre variedades adecuadas para tu área.
        Monitoreo regular: Realiza inspecciones periódicas de tus plantas de tomate para 
        detectar signos tempranos de la enfermedad y tomar medidas de control de manera 
        oportuna.
        </p>
      <br>

    </div>
  </div>


</body>

</html>