<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Septoria en Tomate - AgroScan</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/AgroScan_icon.png') }}" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/26112bca0b.js" crossorigin="anonymous"></script>
</head>

<body>


  <div class="div_left">
    <div class="contenido">
      <img src="{{ url_for('static', filename='images/miner.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
        <p>
            Es una enfermedad fúngica que afecta principalmente a los tomates, aunque también puede afectar a otras 
            plantas de la familia Solanaceae. Es causada por el hongo Septoria lycopersici y puede causar daños 
            significativos en los cultivos si no se controla adecuadamente.
        </p>
      <br>

      <div><a href="/store">Ir a la Tienda</a></div>
    </div>
  </div>

  <div class="div_right">
    <div class="contenido">

      <img src="{{ url_for('static', filename='images/sintomas.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Manchas foliares: Aparecen pequeñas manchas de color marrón o negro en 
        las hojas de la planta. Estas manchas suelen tener un centro más oscuro y pueden rodearse 
        de un halo amarillo.
        Marchitamiento de las hojas: Con el tiempo, las hojas afectadas pueden marchitarse, 
        secarse y caer prematuramente, lo que debilita la planta y reduce su capacidad para 
        producir frutos.
        Progresión ascendente: Las manchas suelen comenzar en las hojas más viejas y más bajas 
        de la planta y luego avanzar hacia arriba a medida que la enfermedad se propaga.
        Desarrollo de manchas en frutos: En casos severos, la enfermedad puede afectar también 
        a los frutos, causando manchas oscuras o necrosis en la piel.
        </p>
      <br>
      <img src="{{ url_for('static', filename='images/tratamiento.png') }}" alt="AgroScan" class="AgroScan_logo">

      <br>
      <p class="p_aux" >Prácticas de cultivo adecuadas: Al igual que con otras enfermedades de 
        las plantas, mantener prácticas de cultivo adecuadas puede ayudar a prevenir la 
        septoriosis. Esto incluye la rotación de cultivos, la eliminación de restos de plantas 
        infectadas y la selección de variedades resistentes si es posible.
        Control de malezas: Las malezas pueden actuar como reservorios de enfermedades, 
        incluida la septoriosis. Por lo tanto, mantener una buena gestión de malezas puede 
        ayudar a reducir la propagación de la enfermedad.
        Riego adecuado: Evita el riego excesivo, ya que la humedad en las hojas puede favorecer 
        el desarrollo de la enfermedad. Riega las plantas directamente en la base y evita mojar 
        las hojas tanto como sea posible.
        Uso de fungicidas: En casos severos, el uso de fungicidas puede ser necesario para 
        controlar la septoriosis. Consulta con un experto en jardinería o agronomía para obtener 
        recomendaciones específicas sobre qué productos utilizar y cómo aplicarlos de manera 
        segura y efectiva.
        Eliminación de hojas infectadas: Retira y desecha adecuadamente las hojas infectadas 
        para reducir la propagación de la enfermedad a otras partes de la planta y a plantas 
        vecinas.
        Monitoreo regular: Realiza inspecciones periódicas de tus plantas de tomate para detectar 
        cualquier signo temprano de septoriosis y tomar medidas preventivas o correctivas de 
        manera oportuna.
        </p>
      <br>

    </div>
  </div>


</body>

</html>