body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* ----------------------------- */

/* Estilos LOGIN - INDEX */

/* Estilo para el div izquierdo */
.div_left {
  background-color: rgba(51, 51, 51);
  width: 50%;
  height: 100vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.div_left_l {
  background-color: rgba(11, 166, 126);
}

.div_left_l img {
  max-width: 80%;
  max-height: 100%;
}

.contenido p {
  max-width: 80%;
  margin: auto;
  font-size: 12px;
}

.contenido div {
  max-width: 30%;
  margin: 20px auto;
  background-color: rgba(11, 166, 126);
  padding: 15px;
  text-align: center;
}

.AgroScan_logo {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.contenido div a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

/**/

.enlace_visita {
  max-width: 50%;
  margin: auto;
  font-size: 12px;
}

.enlace_visita a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-weight: 600;
}

/* Estilo para el div derecho */
.div_right {
  background-color: rgba(11, 166, 126);
  width: 50%;
  height: 100vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_right img {
  max-width: 100%;
  max-height: 100%;
}

.div_right_l {
  background-color: rgba(51, 51, 51);
  width: 50%;
  height: 100vh;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.div_login h2 {
  text-align: center;
}

.div_login p {
  max-width: 50%;
  margin: auto;
  font-size: 12px;
}

.login {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 20px;
}

.login label {
  display: inline-block;
  width: 30%;
  text-align: left;
  font-size: 13px;
  margin-top: 10px;
}

.login select,
.login input[type="text"],
.login input[type="number"],
.login input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  outline: none;
  min-width: 60%;
  height: 25px;
  margin-top: 10px;
  border-left: 3px solid rgba(11, 166, 126);
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(255, 255, 255);
}

.login input[type="submit"] {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  background-color: rgba(11, 166, 126);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 25px auto;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.div_login p a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}


/* Perfil */
.form_profile {
  width: 55%;
  height: 60vh;
  padding: 1.5%;
  background-color: rgba(240, 240, 240, 0.075);
  color: rgb(255, 255, 255);
  /* Añadido color de texto */
}

.form_profile h2 {
  text-align: center;
}

.form_profile label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form_profile input[type="text"],
.form_profile input[type="email"],
.form_profile input[type="number"],
.form_profile input[type="password"],
.form_profile select {
  width: 80%;
  padding: 10px;
  margin-left: 7.5%;
  margin-bottom: 10px;
  border: none;
  border-left: 5px solid rgb(0, 129, 91);
  color: rgb(0, 129, 91);
  /* Añadido color de texto */
}

.form_profile input::placeholder,
.form_profile select::placeholder {
  color: rgb(0, 129, 91);
}

.form_profile input[type="submit"] {
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: rgba(11, 166, 126);
  color: white;
  border: none;
  cursor: pointer;
}

.form_profile input[type="submit"]:hover {
  background-color: rgb(5, 148, 108);
}

.form_profile_form {
  height: 60vh;
  overflow-y: auto;
}

.form_profile i {
  display: inline-block;
  text-align: center;
  font-size: 105px;
  margin: -52.5px;
  color: rgba(11, 166, 126);
}

/* Comunidad */
.comunidad {
  background-color: rgba(11, 166, 126);
}

.div_h1 {
  display: inline-block;
  width: 100%;
  height: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(11, 166, 126);
  z-index: 9999;/
}

.div_comentarios {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px;
}

.comentario {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 2.5px;
  background-color: rgb(255, 255, 255);
}

.comentario img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.comentario h3 {
  display: inline-block;
  min-width: 175px;
  font-size: 14px;
}

.comentario p {
  display: inline-block;
  font-size: 14px;
}

/* ----------------------------- */

/* Estilos para la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  background-color: rgba(11, 166, 126);
  color: rgb(255, 255, 255);
  font-size: 12px;
  z-index: 999;
}

/* Estilos para el logo */
.logo img {
  max-width: 125px;
  margin-left: 20px;
}

/* Estilos para el menú principal */
.menu {
  height: 40px;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  position: relative;
}

.menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: rgb(5, 148, 108);
}

.menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(11, 166, 126);
  z-index: 98;
}

.menu li:hover>ul {
  display: block;
}

.menu ul ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 150px;
}

.menu ul ul li a {
  color: rgb(255, 255, 255);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Estilos para la información del usuario */
.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-info p {
  margin: 0;
  margin-right: 10px;
  color: rgb(255, 255, 255);
}

.user-info a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Estilos para el icono de cierre de sesión */
.user-info a i {
  font-size: 16px;
}

/* ----------------------------- */

/* Footer */
footer {
  background-color: rgba(11, 166, 126);
  color: rgb(255, 255, 255);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  z-index: 999;
}


/* Estilos para el banner */
.banner {
  display: flex;
  /* Utilizamos flexbox para organizar el contenido */
  align-items: center;
  /* Centramos verticalmente el contenido */
  background-color: #f0f0f0;
  /* Color de fondo del banner */
  margin-top: 40px;
}

/* Estilos para el contenido del banner */
.banner-content {
  display: inline-block;
  max-width: 70%;
  margin-left: 5%;
  flex: 1;
}

/* Estilos para el título del banner */
.banner-content h2 {
  font-size: 24px;
  /* Tamaño de fuente del título */
  margin-bottom: 10px;
  /* Espaciado inferior del título */
}

/* Estilos para el texto motivacional */
.banner-content p {
  font-size: 16px;
  /* Tamaño de fuente del texto */
  line-height: 1.5;
  /* Altura de línea para mejorar la legibilidad */
}

/* Estilos para la imagen del banner */
.banner-image {
  margin-left: 5%;
  padding: 20px 0px;
}

/* Estilos para hacer la imagen redonda */
.banner-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.sections {
  width: 95%;
  margin: 40px auto; /* Agrega margen automático a los lados para centrar */
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
} 


.tarjeta,
.tarjeta1,
.tarjeta2, 
.tarjeta3 {
  flex: 1;
  padding: 10px; /* Agrega relleno para separar el contenido del borde */
  background-color: rgb(153, 103, 103);
}

/* Añade margen izquierdo a la primera tarjeta */
.tarjeta1 {
  margin-right: 20px;
}

/* Añade margen derecho a la tercera tarjeta */
.tarjeta2 {
  margin-right: 20px;
}

.tarjeta3 {
  margin-right: 20px;
}



/*Prediction Coffe*/
/* Estilo para el div .predecir */
.predecir {
  padding: 10px; /* Espaciado interno para el contenido */
  background-color: #fff; /* Color de fondo del div */
  border: 1px solid #ccc; /* Borde del div */
  border-radius: 5px; /* Bordes redondeados */
  margin: 60px 50px; /* Margen alrededor del div */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el div */
  text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilo para el título "Predicción de Enfermedades en Hojas de Café" */
.predecir h1 {
  font-size: 20px; /* Tamaño de fuente para el título */
  font-weight: bold;
  margin-bottom: 20px; /* Espacio inferior para separar el título del formulario */
}

/* Estilo para el formulario */
.predecir form {
  margin-top: 20px; /* Espacio superior para separar el formulario del título */
}

/* Estilo para los botones del formulario (en este caso, el botón "Predecir") */
.predecir input[type="submit"] {
  background-color: rgb(70, 70, 70); /* Cambia el color de fondo del botón a tu preferencia */
  border: none; /* Elimina el borde del botón */
  color: rgb(250, 250, 250);
  font-weight: bold;
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de fuente del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados del botón */
}

/* Estilo para la imagen resultante */
.predecir img#image {
  max-width: 50%; /* Asegura que la imagen no supere el ancho del contenedor */
  margin-top: 20px; /* Espacio superior para separar la imagen del resultado */
}

/* Estilo para el resultado (por ejemplo, "result") */
.predecir #result {
  font-size: 16px; /* Tamaño de fuente para el resultado */
  font-weight: bold;
  margin-top: 20px; /* Espacio superior para separar el resultado del formulario */
}